	.navbar {
	    background: none repeat scroll 0 0 #A1C23B;
	}
	.bg-pp {
		background-color: #A1C23B;
		x-background-color: #29b3a4;
	}

	#loader {
		background:#A1C23B
	}

	.navbar{
		background:#8CA833
	}

	.cd-top {
	  background: #496884 url(../img/cd-top-arrow.svg) no-repeat center 50%;
	}

	.no-touch .cd-top:hover {
	  background-color: #496884;
	  opacity: 1;
	}

	.carousel-indicators .active {
	background: #a1c240;
}



#ondemand-carousel-2 .item img {
	border-radius: 6px;
}

section.making-of {
	x-background-color: #28333F;
	x-background-color: #303C4B;
	background-color: #495A70;
	color: rgba(255,255,255,.6);
}

	.carousel-caption {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background: #333333;
		background: rgba(40, 51, 63, 0.75);
		height: 60px;
		border: 1px solid rgba(40, 51, 63, 0.3);
	border-radius: 6px;
	}

	h1, h3 {
		x-color: #28333F;
	}

	h1.line {
    background: url('../img/f1f1f1.gif') repeat-x scroll 0px 50% transparent;
}