	.navbar {
	    background: none repeat scroll 0 0 #DF6A60;
	}
	.bg-pp {
		background-color: #F9766B;
		x-background-color: #29b3a4;
	}

	#loader {
		background:#F9766B
	}

	.navbar{
		background:#DF6A60
	}

	.cd-top {
	  background: #F9766B url(../img/cd-top-arrow.svg) no-repeat center 50%;
	}

	.no-touch .cd-top:hover {
	  background-color: #F9766B;
	  opacity: 1;
	}

	.carousel-indicators .active {
	background: #F9766B;
}

section.making-of {
	background-color: #F9766B;
	color: rgba(255,255,255,.8);
}
	.hero-bg {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		background-position: center !important;
		background-size: cover !important;
		height: 650px;
		margin-top: -80px;
	}

	.hero .level {
		padding-top: 101px;
		padding-bottom: 10px;
	}

	header.project-title {
		margin-top: 160px;
		margin-bottom: 0;
	}

	@media (max-width: 820px) {
		
	}
	@media (min-width: 320px) and (max-width: 767px) {
		.hero-bg {
			height: 400px;
		}
		.hero img {
			margin-top: -5%;
			max-width: 80%;
		}
		.hero h1 {
			font-size: 24px;
			line-height: 36px;
			max-width: 90%;
			margin: auto 5%;
		}
		header.project-title {
			margin: 20px auto -5% auto;
		}
		.hero header.project-title p.subtitle {
			margin-top: 0;
			font-size: 13px;
		}

		.hero img {
			margin-top: -10%
		}
	}