	.navbar {
	    background: none repeat scroll 0 0 #b8c4ce;
	}
	.bg-pp {
		background-color: #1D9FD3;
	}

	#loader {
		background:#1D9FD3
	}

	.navbar{
		background:#198CB9
	}

	.cd-top {
	  background: #198CB9 url(../img/cd-top-arrow.svg) no-repeat center 50%;
	}

	.no-touch .cd-top:hover {
	  background-color: #198CB9;
	  opacity: 1;
	}

	.carousel-indicators .active {
	background: #1D9FD3;
}

section.making-of {
	background-color: #1D9FD3;
	color: #AAA;
}

.hero-main {
	width: 30%;
	margin: -80px 35% 80px 35%;
}


	@media (max-width: 820px) {
		.hero img {
			max-width: 80%;
		}
	}
	@media (min-width: 320px) and (max-width: 767px) {
		.hero-bg {
			height: 400px;
		}
		.hero h1 {
			font-size: 24px;
			line-height: 36px;
			max-width: 90%;
			margin: auto 5%;
		}
		header.project-title {
			margin: 20px auto 20px auto;
		}
		.hero header.project-title p.subtitle {
			margin-top: 0;
			font-size: 13px;
		}

		.hero img {
			margin-top: -20%
		}
	}

	@media (min-width: 480px) and (max-width: 767px) {

		.summary .row div:first-child {
			margin-top: -20%;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {

		.summary .row div:first-child {
			margin-top: -40%;
		}
	}