.navbar {
    background: none repeat scroll 0 0 #b8c4ce;
}

body {
    color: #8c8c8c;
}



	/************************************/
/* =PARKPLEASE                      */
/************************************/

	.bg-pp {
		background-color: #22C0AF;
	}

	#parkplease #loader {
		background:#29b3a4
	}