	.navbar {
	    background: none repeat scroll 0 0 #b8c4ce;
	}
	.bg-pp {
		background-color: #22C0AF;
		x-background-color: #29b3a4;
	}

	#parkplease #loader {
		background:#22C0AF
	}

	.navbar{
		background:#29b3a4
	}

	.cd-top {
	  background: #22C0AF url(../img/cd-top-arrow.svg) no-repeat center 50%;
	}

	.no-touch .cd-top:hover {
	  background-color: #22C0AF;
	  opacity: 1;
	}

	.carousel-indicators .active {
	background: #22C0AF;
}

section.making-of {
	background-color: #31383C;
	color: #AAA;
}