/* ==========================================================================
   BACKGROUNDS
   --------------------------------------------------------------------------*/


.bg-pp {
   background: #17ae9e;
   }

.bg-dm {
   background: #0994cc;
   }


/* ==========================================================================
   PROJECT PAGE
   --------------------------------------------------------------------------*/
   

   /* bg */

.case-bg{
   	position: absolute;
   	top: 0;
   	width: 100%;
   	z-index: -1;
   	height: 300px;
   }

@media screen and (min-width: 48em){
   	.case-bg{
   		height: 600px;
   	}
   }


.bg-center {
  background-position: center !important;
}

.bg-cover {
  background-size: cover !important;
}

@media screen and (min-width: 71em) {
   .case{
      max-width: 80%; }
}


.wrap {
   margin-left: auto;
   margin-right: auto;
}




/* everything should be in the "case" .... this controls the main font size, line height, alignment, etc. DEFAULT STYLES */

.case {
   color: #4C5058;
   line-height: 1.7em;
   font-size: 1em;
   text-align: left;
} /*  color: #454545;7c8087 is the color from the original page */




.case h1 {
   text-align: center;
   max-width: 15em;
   letter-spacing: -1px;
   margin: 0 auto;
   color: white;
}


.case a {
   line-height: 1.5;
}

.case h3 {
   font-size: 1.75rem;
   line-height: 1.21429;

}

.case-main-img {
   text-align: center;
   width: 75%;
   margin-top: 5%;
   margin-left:12.5%;
}




/* the overview and my role text */

.summary p {
   text-align: left;

}

.summary a {
   font-size: 1em;
}

.summary h3 {
   text-align: left;
}


h1.entry-title {
   margin-top: 8%;
}



/* use when you have a small point next to an image that you want to have smaller text than everything else */


.sub-point p {
   font-size: .8em;
   text-align: left;
   margin-right: 20px;
   margin-top: 20px;
}

.sub-point h3 {
   text-align: left;
}




/* this is for the "more case studies" button and section */

.end-section {
   margin-bottom: 200px;
}




/* the larger text under a section header */

.title-header p{
   text-align: center;
   font-size: 1.4em;
   line-height: 1.7em;
}






/* creating a section with the alternating grey bg */

.grey-section {
   background: #ededed;
   width: 100%;
   margin-top: 80px;
   padding-top: 80px;
   padding-bottom: 200px;
}






p.role {
   text-align: center;
   color: white;
   font-size: 80%;
   padding: 1em 0 2em 0;
   letter-spacing: 2px;
}






/* ==========================================================================
   DINAMUNDO
   --------------------------------------------------------------------------*/





   #concept img {
      vertical-align: left;
   }
