@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic');
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic');


html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'SofiaProLightRegular';
	color: #53545B;
	font-size: 18px;
	line-height: 1.6em;
}

a, a:hover, a:focus {
	text-decoration: none;
}





/************************************/
/* =HIDDEN NAV-MENU                       */
/***********************************/



	.bt-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		border-width: 0px;
		border-style: solid;
		border-color: #333;
		background-color: rgba(0,0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
		transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
		z-index: 9999;
	}

	.bt-menu.bt-menu-open {
		position: fixed;
		height: 100%;
		border-width: 0px 0px 50px 150px;
		background-color: rgba(0,0,0,0.3);
		-webkit-transition: border-width 0.3s, background-color 0.3s;
		transition: border-width 0.3s, background-color 0.3s;
		z-index: 9999;
	}

	.bt-overlay {
		position: absolute;
		width: 100%;
	}

	.bt-menu-open .bt-overlay {
		height: 100%;
	}

	.bt-menu-trigger {
		position: fixed;
		top: 10px;
		left: 20px;
		z-index: 9999;
		display: block;
		width: 50px;
		height: 50px;
		cursor: pointer;
	}

	.bt-menu-trigger span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 8%;
		background-color: #fff;
		font-size: 0px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}

	.bt-menu-trigger span:before,
	.bt-menu-trigger span:after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		content: '';
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}

	.bt-menu-trigger span:before {
		-webkit-transform: translateY(-250%);
		transform: translateY(-250%);
	}

	.bt-menu-trigger span:after {
		-webkit-transform: translateY(250%);
		transform: translateY(250%);
	}

	.bt-menu-open .bt-menu-trigger span:before {
		-webkit-transform: translateY(-300%);
		transform: translateY(-300%);
	}

	.bt-menu-open .bt-menu-trigger span:after {
		-webkit-transform: translateY(300%);
		transform: translateY(300%);
	}

	.bt-menu ul {
		position: fixed;	
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.bt-menu ul:first-of-type {
		top: 75px;
		left: 0;
	}

	.bt-menu ul:nth-of-type(2) {
		right: 0;
		bottom: 0;
	}

	.bt-menu ul li,
	.bt-menu ul li a {
		display: block;
	}

	.bt-menu ul:nth-of-type(2) li {
		float: left;
		font-size: 0px;
	}

	.bt-menu ul li {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
		transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	}

	.bt-menu.bt-menu-open ul:first-of-type li,
	.bt-menu.bt-menu-open ul:nth-of-type(2) li {
		visibility: visible;
		opacity: 1;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
		transition: transform 0.3s, opacity 0.3s;
	}

	/* First menu */
	.bt-menu ul:first-of-type li {
		width: 150px;
		height: 50px;
		line-height: 50px;
		-webkit-transform: translate3d(-100%,50%,0);
		transform: translate3d(-100%,50%,0);
	}

	.bt-menu.bt-menu-open ul:first-of-type li {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	/* Second menu */
	.bt-menu ul:nth-of-type(2) li {
		width: 60px;
		height: 50px;
		line-height: 50px;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}

	.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}

	.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
		-webkit-transition-delay: 0.4s;
		transition-delay: 0.4s;
	}

	.bt-menu.bt-menu-open ul:nth-of-type(2) li {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.bt-menu ul li a {
		display: block;
		outline: none;
		text-decoration: none;
	}

	.bt-menu ul:first-of-type li a {
		padding: 0 20px;
		box-shadow: inset 0 1px rgba(0,0,0,0.2);
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1em;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.bt-menu ul:first-of-type li:last-child a {
		box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
	}

	.bt-menu ul:nth-of-type(2) li a {
		color: transparent;
		text-align: center;
		font-size: 0px;
	}

	.bt-menu ul li a:before {
		color: #fff;
		font-size: 24px;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.bt-menu ul:first-of-type li a:hover,
	.bt-menu ul:first-of-type li a:focus,
	.bt-menu ul li a:hover:before,
	.bt-menu ul li a:focus:before {
		color: #1abc9c;
	}

/************************************/
/* =TEXT STYLES                     */
/************************************/

	.text-centered {
		text-align: center;
	}

	.level p {
	  font-size: 16px;
	  line-height: 30px;
	  color: rgba(83,84,91);
	  font-weight: 400;
	}

	p.pad-right-40 {
		padding-right: 40px;
	}

	h1, h3 {
		color: #36373E;
		text-transform: uppercase;
	}
	h3 { 
		font-family: 'SofiaProBlack';	
		margin-bottom: 10px;
		font-size: 1em;
	}
	h1 { 
		font-family: 'SofiaProBold';	
	}


	p {
	  font-size: inherit;
	  line-height: inherit;
	}

/************************************/
/* =LAYOUT STYLES                   */
/************************************/

	.wrap {
		position: relative;
		width: 100%;
		margin: 0;
		font-weight: 300;
		z-index:2;
	}
	.cd-container {
	  -webkit-transition: all .3s ease;
	  -moz-transition: all .3s ease;
	  transition: all .3s ease;
	  -webkit-transform: translate3d(0px, 0, 0);
	  -moz-transform: translate3d(0px, 0, 0);
	  transform: translate3d(0px, 0, 0);
	  overflow: hidden;
	}
	.level {
		padding: 80px 0 80px;
		margin: 0;
	}
	.top-60 {
		margin-top: 60px;
	}

	.summary h3 {
		padding-top: 30px;
	}

/************************************/
/* =HERO                  */
/************************************/
	
	.hero-bg {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		background-position: center !important;
		background-size: cover !important;
		height: 700px;
		margin-top: -80px;
	}
	.hero .inner{
		padding-top: 2%;
	}
	.hero h1 {
		font-family: 'SofiaProRegular';
		font-weight: 400;
		font-size: 48px;
		line-height: 54px;
	}
	.hero h1 em {
		display: block;
		font-weight: 400;
		font-size: 18px;
		line-height: 18px;
		margin-top: 20px;
	}
	.hero .level {
		padding-top: 101px;
		padding-bottom: 40px;
	}

	p.subtitle {
		font-family: 'SofiaProLightItalic';
		font-size: 1em;
		margin-top: -40px;
	}

	header.project-title {
		margin-top: 120px;
		margin-bottom: 80px;
	}



	@media (max-width: 820px) {
		.hero img {
			margin-top: 4%;
			max-width: 80%;
		}
	}
	@media (min-width: 320px) and (max-width: 767px) {
		.hero-bg {
			height: 400px;
		}
		.hero h1 {
			font-size: 36px;
			line-height: 48px;
		}
		header.project-title {
			margin: 40px auto 20px auto;
		}

		.hero img {
			margin-top: -10%
		}
	}

/************************************/
/* =CAROUSEL                      */
/************************************/
	.carousel-caption {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background: #333333;
		background: rgba(0, 0, 0, 0.5);
		height: 60px;
	}
	.carousel-control {
	  position: absolute;
	  top: 10px;
	  left: 0;
	  bottom: 0;
	  width: 80px;
	  height: 80px;
	  opacity: 1;
	  font-size: 40px;
	  color: #333;
	  text-align: center;
	  text-shadow: none;
	  font-family: FontAwesome;
	  margin-top: 48%;
	  display: none;
	}
	/* Changes the position of the indicators */
	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: 0px;
		margin-right: -19px;

	}
	/* Changes the colour of the indicators */
	.carousel-indicators li {
		background: rgba(0,0,0,.1);
		width: 20px;
		height: 20px;
		margin: 60px 10px auto 10px;

	}
	.carousel-indicators .active {
		background: #333333;
		width: 20px;
		height: 20px;
		margin: 60px 10px auto 10px;
	}

	@media (max-width: 767px){
		.carousel-indicators li {
			background: rgba(0,0,0,.1);
			width: 15px;
			height: 15px;
			margin: 2px;
		}
		.carousel-indicators .active  {
			background: rgba(0,0,0,.1);
			width: 15px;
			height: 15px;
			margin: 2px;
		}
	}

	.image-slider .item img {
		width: 100%;
		height: auto;
	}

	.carousel-control.right, .carousel-control.left{

	  background-image: none;
	  background-image: none;
	  background-repeat: none;
	}
	.carousel-control.right {
		  left: auto;
	  right: 0;
	}
	.carousel-control:hover{
	  outline: none;
	  color: #22C0AF;
	  text-decoration: none;
	  opacity: 0.9;
	  filter: alpha(opacity=90);
	}

	.carousel-control:focus {
	  outline: none;
	  color: none;
	  text-decoration: none;
	  opacity: 1;
	  filter: alpha(opacity=100);
	}

/************************************/
/* =BACK-TO-TOP                     */
/************************************/

	.cd-top {
	  display: inline-block;
	  height: 40px;
	  width: 40px;
	  position: fixed;
	  bottom: 40px;
	  right: 10px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	  /* image replacement properties */
	  overflow: hidden;
	  text-indent: 100%;
	  white-space: nowrap;
	  background: rgba(32, 195, 196, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
	  visibility: hidden;
	  opacity: 0;
	  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
	  -moz-transition: opacity .3s 0s, visibility 0s .3s;
	  transition: opacity .3s 0s, visibility 0s .3s;
	  z-index:9999;
	  border: none;
	}
	.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
	  -moz-transition: opacity .3s 0s, visibility 0s 0s;
	  transition: opacity .3s 0s, visibility 0s 0s;
	}
	.cd-top.cd-is-visible {
	  /* the button becomes visible */
	  visibility: visible;
	  opacity: 1;
	}
	.cd-top.cd-fade-out {
	  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	  opacity: .2;
	}
	.no-touch .cd-top:hover {
	  background-color: #e86256;
	  opacity: 1;
	  border:none;
	}
	@media only screen and (min-width: 768px) {
	  .cd-top {
	    right: 20px;
	    bottom: 20px;
	  }
	}
	@media only screen and (min-width: 1024px) {
	  .cd-top {
	    height: 60px;
	    width: 60px;
	    right: 30px;
	    bottom: 30px;
	  }
	}

/************************************/
/* =LOADER                    */
/************************************/

	#wrap{
		position:relative;
		width:100%;
		min-width:1021px;
		overflow:hidden;
		z-index:2;
		visibility:hidden
	}
	.loaded #wrap{
		visibility:visible
	}
	#loader{
		position:fixed;
		top:0;
		left:0;
		right:0;
		height:100%;
		z-index:1000;
		background:#191919
	}
	.spinner {
	  width: 40px;
	  height: 40px;
	  position: relative;
	  top: 50%;
	  left: 50%;
	  margin-left: -20px;
	  margin-top: -20px;
	}
	.double-bounce1,
	.double-bounce2 {
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  background-color: #fff;
	  opacity: 0.6;
	  position: absolute;
	  top: 0;
	  left: 0;
	  -webkit-animation: bounce 2s infinite ease-in-out;
	  animation: bounce 2s infinite ease-in-out;
	}
	.double-bounce2 {
	  -webkit-animation-delay: -1s;
	  animation-delay: -1s;
	}
	@-webkit-keyframes bounce {
	  0%,
	  100% {
	    -webkit-transform: scale(0);
	  }
	  50% {
	    -webkit-transform: scale(1);
	  }
	}
	@keyframes bounce {
	  0%,
	  100% {
	    transform: scale(0);
	    -webkit-transform: scale(0);
	  }
	  50% {
	    transform: scale(1);
	    -webkit-transform: scale(1);
	  }
	}

/************************************/
/* =NAVBAR                    */
/************************************/
	.navbar{
		position:fixed;
		background:#ddd;
		top:0;
		left:0;
		right:0;
		height:41px;
		min-height: 41px;
		font:700 10px/41px 'myriad-pro',"Myriad Pro","Open Sans","Helvetica Neue",sans-serif;
		text-transform:uppercase;
		color:#fff;
		text-align:left;
		overflow:hidden;
		opacity:1;
		z-index:999;
		border-radius: 0;
		-webkit-transform:translate3d(0,0,0);
		-moz-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		-webkit-transition:-webkit-transform .3s,height .2s linear;
		-moz-transition:-moz-transform .3s,height .2s linear;
		-o-transition:transform .3s,height .2s linear;
		transition:transform .3s,height .2s linear
	}
	.no-csstransforms3d .navbar{
		-webkit-transform:translate(0,0);
		-moz-transform:translate(0,0);
		-ms-transform:translate(0,0);
		-o-transform:translate(0,0);
		transform:translate(0,0)
	}
	.navbar-over{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:#172835;
		opacity:0;
		z-index:0;
		visibility:hidden
	}
	.navbar.asleep{
		-webkit-transform:translate3d(0,-41px,0);
		-moz-transform:translate3d(0,-41px,0);
		transform:translate3d(0,-41px,0)
	}
	.no-csstransforms3d .navbar.asleep{
		-webkit-transform:translate(0,-41px);
		-moz-transform:translate(0,-41px);
		-ms-transform:translate(0,-41px);
		-o-transform:translate(0,-41px);
		transform:translate(0,-41px)
	}
	a.brand{
		float:left;
		position:relative;
		margin-right:0;
		height:41px
	}
	a.brand span{
		float:left;
		width:170px;
		border-left:6px solid #fff;
		height:20px;
		margin-top:11px;
		background:url(../img/ht.svg) 13px 50% no-repeat;
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		background-size:148px 12px
	}
	.no-backgroundsize .brand span{
		text-indent:0;
		overflow:visible;
		background:0;
		font-size:14px;
		border:0;
		margin:0;
		padding:0;
		text-transform:none
	}
	.brand:before{
		height:20px;
		content:"";
		float:left;
		width:2px;
		margin:11px 2px 0 0;
		border:solid #fff;
		border:solid rgba(255,255,255,0.5);
		border-width:0 6px
	}
	.no-backgroundsize .brand:before{
		display:none
	}
	.navbar .navbar-toggle{
		display:none;
		position:relative;
		float:right;
		margin:9px 10px;
		padding:6px 10px;
		font-weight:700;
		border-radius:4px;
		line-height:11px;
		background:#fff;
		color:#b8c4ce;
		-webkit-transition:color .2s;
		-moz-transition:color .2s;
		-o-transition:color .2s;
		transition:color .2s
	}
	.navbar.open .navbar-toggle{
		color:#6d7982
	}
	.navbar ul{
		position:relative;
		margin:0;
		padding:0;
		float:right
	}
	.navbar li{
		float:left
	}
	.navbar li:first-child{
		display:none
	}
	.navbar-inner{
		position:relative;
		height:100%
	}
	.navbar a{
		display:inline-block;
		color:#fff;
		margin:0 10px;
		-webkit-transition:background .2s;
		-moz-transition:background .2s;
		-o-transition:background .2s;
		transition:background .2s
	}
	.navbar a[href^="mailto"]{
		margin-left:0
	}
	.navbar .case-studies{
		padding:0 0 0 10px
	}
	.navbar .case-studies li{
		position:relative;
		width:53px;
		margin:0;
		padding:0;
		overflow:hidden
	}
	.navbar li.prev{
		display:block
	}
	.navbar .case-studies a{
		display:block;
		width:100%;
		height:100%;
		text-indent:100%;
		overflow:hidden;
		white-space:nowrap;
		background:rgba(9,9,9,0.1);
		position:relative;
		margin:0
	}
	.navbar .case-studies a:hover{
		background:rgba(9,9,9,0.22)
	}
	.navbar .prev a:before,.navbar .next a:before,.navbar .next a:after{
		position:absolute;
		top:15px;
		left:21px;
		content:"";
		width:0;
		height:0;
		line-height:0;
		display:inline-block;
		border-style:solid;
		border-width:5.5px 6px 5.5px 0;
		border-color:transparent #fff transparent transparent;
	}
	.navbar .next a:after{
		display:none
	}
	.navbar .next a:before{
		left:25px;
		border-width:5.5px 0 5.5px 6px;
		border-color:transparent transparent transparent #fff
	}
	.navbar a.icon{
		vertical-align:top;
		display:block;
		margin:0;
		-webkit-transition:background-color .2s;
		-moz-transition:background-color .2s;
		-o-transition:background-color .2s;
		transition:background-color .2s;
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden
	}
		@media(max-width:1020px){
		.navbar .container{
			padding:0
		}
		.navbar a.brand{
			margin-left:10px
		}
	}
	@media(max-width:568px){
		.navbar{
			overflow:hidden;
			max-height:41px;
			border: none;
		}
		.navbar ul,.navbar li{
			float:none
		}
		.navbar.open{
			height:216px;
			max-height:216px
		}
		.navbar-over.open{
			visibility:visible;
			opacity:.6;
			z-index:998
		}
		.navbar ul{
			display:none
		}
		.navbar.open ul{
			display:block;
			clear:both;
			background:#fff;
			height:107px;
			padding:35px 0 39px;
			text-align:center;
			width:100%;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box
		}
		.navbar li{
			width:75px;
			display:inline-block!important;
			line-height:10px;
			padding:15px 0 12px
		}
		.navbar ul a{
			color:#555;
			vertical-align:top;
			margin:0
		}
		.navbar li.case-studies{
			margin:0!important;
			padding:0;
			border:0;
			width:0
		}
		.navbar .case-studies ul{
			position:absolute;
			top:100%;
			left:0;
			right:0;
			height:auto;
			border-top:1px solid #ccc;
			padding:29px 0
		}
		.navbar .case-studies li,.navbar .case-studies a{
			margin:0
		}
		.navbar .case-studies li{
			display:inline-block;
			width:40%;
			padding:0;
			margin:0;
			text-align:left
		}
		.navbar .case-studies a{
			text-indent:0;
			margin:0;
			width:auto;
			padding:0;
			background:0
		}
		.navbar .case-studies a:hover{
			background:0
		}
		.navbar .case-studies .prev{
			text-align:right;
			margin:0
		}
		.navbar .prev a:before,.navbar .next a:after{
			position:static;
			display:inline-block;
			margin:0 10px
		}
		.navbar .prev a:before{
			border-width:4.5px 5px 4.5px 0;
			border-color:transparent #656565 transparent transparent
		}
		.navbar .next a:before{
			display:none
		}
		.navbar .next a:after{
			border-width:4.5px 0 4.5px 5px;
			border-color:transparent transparent transparent #656565
		}
		.navbar .prev a{
			padding:0 20px 0 7px
		}
		.navbar .next a{
			padding:0 7px 0 20px
		}
		.navbar a.icon{
			background:0;
			text-indent:0;
			padding:0;
			width:auto;
			display:inline
		}
		.navbar a.icon:hover{
			background:none!important
		}
		.navbar .navbar-toggle{
			display:block;
			position:relative;
			z-index:100
		}
}



@media only screen and (max-width:280px){
	.navbar,.navbar ul{
		height:auto;
		max-height:none;
		overflow:visible;
		display:block;
		position:static
	}
	.navbar .navbar-toggle{
		display:none
	}
	.navbar ul{
		clear:both;
		padding:5px;
		background:#fff;
		text-align:center
	}
	.navbar li{
		display:block;
		width:100%!important;
		padding:0;
		line-height:14px;
		border:none!important
	}
}

	.case-study-summaries section {
		margin: 0;
		padding: 10%;
		width: 100%;
		height: auto;
	}

	.case-study-summaries .detail *{
		color:#fff;
		text-align:center;
		display:block;
	}

	.case-study-summaries .btn{
		display:inline-block;
		color:#fff;
		font-size:16px;
		line-height:16px;
		font-weight:400;
		padding:15px 22px;
		border-radius:5px;
		border:1px solid #fff;
		border:1px solid rgba(255,255,255,0.4);
		-webkit-transition:border-color .2s ease-in;
		-moz-transition:border-color .2s ease-in;
		-o-transition:border-color .2s ease-in;
		transition:border-color .2s ease-in
	}
	.case-study-summaries .btn:hover{
		border-color:#fff
	}

	.case-study-summaries  section.parkplease {
		background-color: #22C0AF
	}

	.case-study-summaries  section.parkplease img {
		width: 100%;
		height: auto;
		margin: 40px auto;
	}

	.case-study-summaries  section.dinamundo {
		background-color: #D2D3CD
	}


	.case-study-summaries  section.fours {
		background-color: #F9766B
	}

	.case-study-summaries  section.ldc-od {
		background-color: #506179
	}