/* ==========================================================================
   TABLE OF CONTENTS ZZTOP
   --------------------------------------------------------------------------
   





   + Fonts
   + Section Backgrounds
   + Buttons
   + Intro
   + Header
   + About
   + Featured Project
   + Works
   + Team
   + Stats
   + Timeline
   + Contact
   + Testimonials
   + Clients
   + Footer
   + Responsive
   + Main Nav
   + Header Fixed
   + Vertical Nav
   + Project Page













































/*----------------------------------------------------------------------------------- */
/*  BUTTONS */
/*----------------------------------------------------------------------------------- */




		.slides {
			text-align: center;
			margin-top: 30px;
		}

		.quotes {
			margin: 0 0 60px;
		position: relative;
		zoom: 1;
		}







/*----------------------------------------------------------------------------------- */
/*  FOOTER 
/*----------------------------------------------------------------------------------- */

		#footer { padding: 70px 0; }

		#footer .social li { 
			margin: 0 30px 30px;
			display: inline-block; 
		}

		#footer .social li:hover { cursor: pointer; }
		#footer .social li a { color: #8c9199; }

		#footer .social li a i { 
			font-size: 45px;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			transition: all 0.4s ease; 
		}

		#footer .social li:hover a i.fa-twitter { color: #3ab6e9; }
		#footer .social li:hover a i.fa-facebook { color: #3b589a; }
		#footer .social li:hover a i.fa-dribbble { color: #f26899; }
		#footer .social li:hover a i.fa-linkedin { color: #017eb4; }
		#footer .social li:hover a i.fa-google-plus { color: #d43934; }
		#footer .social li:hover a i.fa-instagram { color: #4e7ca0; }

		#footer .social li small { 
			display: block;
			text-lightform: uppercase;
			margin-top: 15px;
			color: #8b8b8b;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			transition: all 0.4s ease; 
		}

		#footer .social li:hover small { color: #3c3547; }
		#footer .copyright { margin-top: 50px; }

		#footer .copyright p {
			font-size: 11px;
			color: #a6acb5;
		}







/*----------------------------------------------------------------------------------- */
/*  RESPONSIVE 
/*----------------------------------------------------------------------------------- */

			@media (max-width: 1199px) {
			.contact-wrap { width: 52% !important; }
			}   

			@media (max-width: 767px) {

			  .navbar-collapse { background-color: #009989; }
			  
			  .navbar-collapse  > ul { 
				width: 100%; 
				float: left; 
				padding-bottom: 10px; 
			  }
			  
			  .navbar-collapse  > ul > li  { 
				padding: 14px 0 9px 0; 
				border-top: 1px solid #009d8d; 
			  }
			  
			  .navbar-collapse  > ul > li:first-child { border-top: 0; }
			  
			  .intro {
				width: 550px;
				height: 300px;
				margin-left: -275px;
				margin-top: -150px;
			  }
			  
			  .intro h1 { font-size: 32px; }
			  .intro p { margin-bottom: 52px; }
			  
			  .navbar-collapse  > ul > li > a {  
				color: #ccc !important; 
				text-align: left !important; 
				display: block;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				transition: all 0.4s ease; 
			  }
			  
			  .navbar-toggle { top: -8px; }
			  .navbar-collapse  > ul > li > a:hover, .navbar-collapse  > ul > li > a:focus, #current_menu_item a { color: #fff !important; }
			  
			  .cl-effect-3 #current_menu_item a:hover::after,
			  .cl-effect-3 #current_menu_item a:focus::after,
			  .cl-effect-3 a:hover::after, 
			  .cl-effect-3 a:focus::after  { opacity: 0 !important; }
			  
			  .cl-effect-3 #current_menu_item a { border-top: transparent;  }
			 
			  header.header nav .fa-search  {
				right: 70px;
				top: 7px;
			  }
			  
			  .navbar-fixed-top.shrink { padding-bottom: 0; }  
			  

				
				.view .mask h2 { 
					margin-top: 20%; 
					font-size: 18px; 
				}
				
				#contact .map { 
					display: none !important; 
					visibility: hidden; 
				}
				
				.navbar-fixed-top {
					padding: 35px 0;
					background: #009989;
					padding-bottom: 0 !important;
					padding-top: 20px !important
				}
			  
			  #contact .contact-wrap { width: 100% !important; }
			  #blog-title h2 { font-size: 24px; }
			  
			}

			@media (max-width: 991px) {

				#team .team .flex-control-nav { 
					margin-bottom: 35px; 
					text-align: center !important; 
				}

				#team.team .flex-control-nav li {
					display: inline;
					padding: 10px 18px;
				}
				
				.team .flex-control-nav li.flex-active:before { border: none; }
				
				.view .mask h2 { 
					margin-top: 25px; 
					font-size: 14px; 
				}
				
				.view .mask p { padding: 0; }
				.contact-wrap { width: 49% !important; }
				
			}


			@media (max-height: 320px) {
				.intro { margin-top:-50px;}
			    .intro h1 { font-size: 20px; }
			    .intro p { font-size: 12px; margin-bottom:5px;}	
			    .intro .btn-lg {font-size:14px; padding: 7px 18px;}
			}

			@media (max-width: 480px) {

				.intro h1 { font-size: 20px; }
				.item-wrap figcaption h3 { font-size: 14px !important; }
				.item-wrap figcaption span { font-size: 12px !important; }
				#blog .entry .row > div { text-align: center; }
				#blog .entry .row > div h5 { width: 100%; }
				#blog .entry .row .comments { top: 28px; }
				.quotes p { font-size: 18px; }
				.quotes .flex-direction-nav a:before { font-size: 18px !important; }
				
				.intro {
				width: 300px;
				height: 280px;
				margin-left: -150px;
				margin-top: -140px;
			  }
			  
			  .intro p { font-size: 12px; margin-bottom: 42px; }
			  #blog-title { padding: 40px; }
			  #blog-title h2 { font-size: 18px; }
			  
			  .user-comments .col-centered ul li img { margin-bottom: 20px; }
			  
			  .user-comments .user-comment { 
				width: 100%; 
				float: none; 
				clear: both;
			  }
				
			}

			@media (max-width: 320px) {

				.mask h2 { margin-top: 10px; }
				.t-box .team-social i { margin-right: 15px; }
				
				.intro {
					width: 260px;
					height: 280px;
					margin-left: -130px;
					margin-top: -140px;
			  }
			  
			  .intro h1 { font-size: 11px; }
			  .intro p { font-size: 12px; }
			  	
			}

			@media (max-width: 1199px) {

				.mask h2 { margin-top: 40px; }

			}





/*----------------------------------------------------------------------------------- */
/*  PROJECT PAGE GENERAL STYLES
/*----------------------------------------------------------------------------------- */














	/* --------------------------------------- 
	OTHER TEXT
	------------------------------------------
	universal styles applied to make text small and big */

			






/* ==========================================================================
   TABLE OF CONTENTS ZZTOP
   --------------------------------------------------------------------------
   


   + Global
   + Header
   + Layouts
   + Text Styles
   + Sub Header
   + Images
   + General Styles
	   + icons
	   + buttons
	   + links




********************************************************************************/
/* =GLOBAL                                                                         */
/*********************************************************************************/
	

	/* don't know but i think it does good */

		*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}



		*
		{
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}


	/* text */

			body, input, textarea
			{
				font-family: Calluna-Regular;
				-webkit-font-smoothing: antialiased !important; 
				font-size: 18px;
				line-height: 1.6em;
				x-color: #404040;
				color: #474747;
				font-weight: 300;
			}

			.calluna-regular { 
				font-family: Calluna-Regular;
				font-weight: normal;
				font-style: normal;
			}

			h1, h2, h3, h4 {
				color: #3a3a3a;
				font-family: 'Oswald', sans-serif;
				-webkit-font-smoothing: antialiased !important;
				padding: .02em 0 .1em 0; 			
			}



			ul, ol { 
				list-style-type: none; 
				margin: 0; 
				padding: 0; 
			}

			h3 {
				font-weight:700;
				line-height: 1.4em;
			}


	/*utility classes */
		

		.align-center {
		  text-align: center;
		}

		.align-left {
		  text-align: left;
		}

		.align-right {
		  text-align: right;
		}

		.pull-left {
		  float: left;
		}

		.pull-right {
		  float: right;
		}



/*********************************************************************************/
/* =LAYOUTS                                                                         */
/*********************************************************************************/





		/* PHASE
	 refers to the section bg of the page */

			.phase { 
				padding: 6em 0 6em 0;
				width: 100%;
				border-bottom: 1px solid #eee;
			}

			.phase-alt {
				background-color: #f2f2f2;
				
			}



			.end-section {
			margin-bottom: 200px;
			}


	/* row padding */


			.row {
				padding: 1em 0;
			}

			.row-sm {
				padding: 6em 0;
			}

			.row-md {
				padding: 8em 0;
			}


			.row-lg {
				padding: 14em 3em;
			}


			.border-row {
				border-bottom: 1px solid rgba(0,0,0,.08);

			}


	/* spaces within columns */

			.space,
			.space-sm,
			.space-md,
			.space-lg {
			  display: block;
			  float: none;
			  clear: both;
			}
			.space-sm {
			  padding-top: 40px;
			}
			.space-md {
			  padding-top: 80px;
			}
			.space {
			  padding-top: 160px;
			}
			.space-lg {
			  padding-top: 240px;
			}



	/* applied to any div */


			.twelvecol {
				width: 100%;
				float: left;
			}


			.block4-left .img-responsive {
				max-width: 80%;
				max-height: 80%;
				margin: 10% 20% 10% 0;
			}

			.block4-right .img-responsive {
				max-width: 80%;
				max-height: 80%;
				margin: 10% 0 10% 20%;
			}

			


			.block6 .img-responsive {
				width: 100%;
				margin: 15% 0;

			}


			.text-block {
				width: 90%;
				padding: 2%;
			}

			.block8-left .img-responsive {
				max-width: 98%;
				max-height: 90%;
				margin: 5% 2% 5% 0;
			}

			

			.block8-right .img-responsive {
				width: 98%;
				max-height: 90%;
				margin: 5% 0 5% 2%;
			}


			.4col-text {
				max-height: 80%;
				margin-top: 10%;
				padding-bottom: 10%;
			}


	/* sections specific */

	
			.overview {
				width: 1170px;
				margin: 0 2%;
			}

			.overview p {
				x-padding-right: 5%;
			}


/*********************************************************************************/
/* =HEADER                                                                         */
/*********************************************************************************/

		/* sub header sticky menu */





				#nav .navbar-nav > li {float:none;}


				#header {
					background: #FFF;
					width: 100%;
					display: block;
					margin: 0;
					border-bottom: #000000 1px solid;
					position: relative;
					top: 0px;
					height: 80px;
					border-bottom: rgba(0,0,0,.05) 1px solid;
					box-shadow: 0 1px 3px 0 rgba(0,0,0,.37);

				}





				/* Navigation */
					#nav {
					  text-align: center;
					  margin: 0px auto;
					  font-size: 1em;
					}

					#nav ul {
					  margin: 0;
					  padding: 0;
					  list-style-type: none;
					  list-style-image: none;
					}

					.nav-menu li {
						margin-right: 0;
						display: inline;
						height:80px;
						width: 100%;
						margin-top:0;
						padding-top: 20px;
					}

					.nav-menu li a {
						text-decoration: none;
						margin: 0px;
						padding: 30px 30px 0px 30px;
						color: rgba(0,0,0,.3);
						font-size: .7em;
						font-family: "Oswald", sans-serif;
						font-weight: 300;
						text-lightform: uppercase;
						text-align: center;
						letter-spacing: .75px; 
					}


					.nav-menu li a:hover {
					  color: #111;
					  text-decoration: none;
					}


					.nav-menu li.current-menu-item a {
					  color: #ffffff;
					  background-color: #009989;
					  text-decoration: none;
					}

					.nav-menu li > a.current_page_item {
					  color: #ffffff;
					  background-color: #009989;
					  text-decoration: none;
					}

					.nav-menu > li > a.active {
						x-background-color: #c1c1c1!important;
						x-border-bottom: 4px solid #6dc5dc !important;
						height: 80px;
						top:0 !important;
					}

					.nav-menu > li > a.active:after {
						position: absolute;
						bottom: 0px;
						left: 18px;
						right: 18px;
						content: '';
						display: block;
						height: 4px;
						background-color: #6dc5dc;
					}

					/* Active class */
					.active {
					  color: #52bad5 !important;
					  font-weight: 400 !important;
					  -webkit-transform: translate3d(0, 0, 0);
					  -moz-transform: translate3d(0, 0, 0);
					  -o-transform: translate3d(0, 0, 0);
					  -ms-transform: translate3d(0, 0, 0);
					  transform: translate3d(0, 0, 0);
					}

		/* header with image */

				.case-bg{
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
					height: 300px;
					background-position: center !important;
					background-size: cover !important;
			    }

				    
				@media screen and (min-width: 48em){
					.case-bg{
						height: 600px;
					}
				}


				.case {
					color: #4C5058;
					line-height: 1.7em;
					font-size: 1em;
					text-align: left;
					margin-left: auto;
					margin-right: auto;
				} /*  color: #454545;7c8087 is the color from the original page */


				@media screen and (min-width: 71em) {
					.case{
						max-width: 80%; 
					}
				}

				.case h1 {
					text-align: center;
					max-width: 15em;
					letter-spacing: -1px;
					margin: 0 auto;
					color: white;
					margin-top:8%;
					font-family: 'Oswald' sans-serif;
					font-size: 5em;
					font-weight: 300;
				}
				  

				.case a {
					line-height: 1.5;
				}

				.case h3 {
					font-size: 1.75rem;
					line-height: 1.21429;

				}

				.case-main-img {
					text-align: center;
					width: 75%;
					margin-top: 5%;
					margin-left:12.5%;
				}

				p.role {
					text-align: center;
					color: white;
					padding: 1em 0 1em 0;
					letter-spacing: 2px;
						line-height: 1.7em;
				}


			/* individual page colors */

				.bg-pp {
				background: #17ae9e;
				}

				.bg-dm {
				x-background: #0994cc;
				background: #2C9AB7;
				}


		/* main menu */



				.logo {
					background: url('../img/logo.png') no-repeat 0 0;
					width: 31px;
					height: 30px;
					-webkit-transition: background-position 0.4s;
					-moz-transition: background-position 0.4s;
					transition: background-position 0.4s;
				}

				.navbar-fixed-top {
					padding: 35px 0;
					-webkit-transition: all 0.4s;
					-moz-transition: all 0.4s;
					transition: all 0.4s;
				}

				.navbar-fixed-top.shrink, .blog-single .navbar-fixed-top {
					padding: 18px 0;
					background: rgba(255,255,255,1);
					-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.15);
					-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.15);
					box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.15);
					-webkit-font-smoothing: antialiased !important; 
					-webkit-backface-visibility: hidden;
				}

				.navbar-fixed-top.shrink .logo, .blog-single  .navbar-fixed-top .logo { background-position: 0 -31px; }
				.navbar-fixed-top.shrink .nav > li > a, .navbar-fixed-top.shrink .fa-search, 
				.blog-single .navbar-fixed-top .nav > li > a, .blog-single .navbar-fixed-top .fa-search { 
					color: #3c3547; 
				}

				.navbar-fixed-top.shrink .cl-effect-3 a::after { background: rgba(60,50,71,1); }

				.navbar-fixed-top.shrink #current_menu_item a, #blog-single .navbar-fixed-top #current_menu_item a { 
					border-bottom: 2px solid #3c3247;
					padding-bottom: 2px;
				}

				.banner { 
					position: relative; 
					overflow: auto; 
				}

				.banner ul li { 
					float: left; 
				}

				.navbar-default .container { 
					position: relative; 
				}

				.nav > li > a {
					display: inline-block;
					font-family: 'Oswald', sans-serif;
					font-weight: 400;
					font-size: 13px;
					text-lightform: uppercase;
					text-decoration: none;
					position: relative;
					/*padding-bottom: 2px;*/
					outline: none;
				}

				.cl-effect-3 a::after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: rgba(255,255,255,1);
					content: '';
					opacity: 0;
					-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
					-moz-transition: opacity 0.3s, -moz-transform 0.3s;
					transition: opacity 0.3s, transform 0.3s;
					-webkit-transform: translateY(-10px);
					-moz-transform: translateY(-10px);
					transform: translateY(-10px);
				}



				.cl-effect-3 #current_menu_item a:hover::after,
				.cl-effect-3 #current_menu_item a:focus::after { 
					opacity: 0 !important; 
				}

				.cl-effect-3 a:hover::after,
				.cl-effect-3 a:focus::after {
					opacity: 1;
					-webkit-transform: translateY(24px);
					-moz-transform: translateY(24px);
					transform: translateY(24px);
				}

				.navbar-fixed-top #current_menu_item a {
					border-bottom: 2px solid #ffffff;
					padding-bottom: 2px;
				}

				#main-menu.main-menu #main-menu .fa-search {
					font-size: 18px;
					position: absolute;
					right: 0;
					top: 5px;
				}

				#main-menu.main-menu #main-menu .fa-search:hover { 
					color: #009989; 
				}

/*********************************************************************************/
/* =TEXT STYLES                                                                         */
/*********************************************************************************/

		

		/* titles */


			.section-title {
				text-align: center;
				font-weight: 400;
				font-size: 3em;
			}

			h1.phase-title {
				font-size: 3em;
				font-weight: 700;
			}

		/* colors */

			.text-block {
				padding-right: 8%;
			}


			.text-white {
				color: #fff;
			}

			.text-trans-white {
				color: rgba(255,255,255,.5);
				font-weight: 300;
			}


			.text-light {
				color: rgba(0,0,0,.2);
			}

		/* alignment */

			.text-centered {
				text-align: center;
			}


			.text-left {
				text-align: left;
			}


			.intro-text {
				font-size: 1.3em;
				line-height: 1.5em;
				padding-right: 5%;
			}

		/* special styles  */

			cite {
				text-lightform: uppercase;
				letter-spacing: .2em;
				font-size: 12px;
				font-weight: bold;
			}



			.handwritten {
				font-family: 'Shadows Into Light', cursive;
				font-size: 1.2em;
				margin-bottom: 1.6em;
			}

			.sub-point p {
				font-size: .8em;
				text-align: left;
				margin-right: 20px;
				margin-top: 20px;
			}

			.sub-point h3 {
				text-align: left;
			}


			.hand-font {
			  font-family: 'Gochi hand', Handlee, Roboto, serif;
			  font-size: 1.2em;
			  display: inline-block;
			  font-weight: 400;
			}



/*********************************************************************************/
/* =IMAGES                                                                         */
/*********************************************************************************/



		img.fourcol {
			margin: -2em, 0, .5em, 20%;
			display: block;
			height: auto;
			max-width: 80%;
			margin-bottom: .5em;
		}


		img.pull-right {
			float: right;
			padding-right:0!important;
		}

		.image-box-style {
			background-color: white;
			padding: 10px;
			margin-left: 40px;
			box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
			border:1px solid rgba(0,0,0,.1);
			border-radius: 5px;
		}

		.image-box-style img {
			border-radius: 5px;
			border:1px solid rgba(0,0,0,.1);
		}

		.image-stack .first{
			height: 45%;
			margin: 0 0 5% 5%;
			position: absolute;
		}


		.image-stack .last{
			height: 45%;
			margin: 75% 0 0 5%;
			position: absolute;
		}


		.image-collage {
			width: 100%;
			margin-left: -5%;
			margin-right: 5%;
		}




		.img-grid img {
			height:340px;
			overflow-y: hidden;

		}

/*********************************************************************************/
/* =GENERAL STYLES                                                                         */
/*********************************************************************************/



	/***********************/
	/* =ICONS   */
	/***********************/

		.icon-fancy {
			color: #009989;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;	
		}



		.icon-sm {
			font-size: 44px;
		}

		.icon-md {
			font-size: 64px;
		}

		.icon-lg {
			font-size: 84px;
		}

	/***********************/
	/* =box   */
	/***********************/

		.box-content {
			background-color: white;
			padding: 15px 15px 1px;
			margin-left: 40px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			position: relative; 
			border:1px solid rgba(0,0,0,.1);
			border-radius: 5px;
		}

		.box-content:after, .box-content:before {
			content: "";
	        position: absolute;
	        width: 0;
	        height: 0;
		}

		.box-content:after {
	        top: 38px;
	        left: -20px;
	        border: 10px solid transparent;
	        border-right: 10px solid white; 
	    }

	    .box-content:before {
	    	top: 36px;
	        left: -24px;
	        border: 12px solid transparent;
	        border-right: 12px solid #dddddd;
	    }

	/***********************/
	/* =BGs   */
	/***********************/

		.bg-primary {
			background-color: #009989;
		}

		.bg-grey {
			background-color: #f4f4f4;
		}

		.bg-bright {
			background-color: #0994cc;
		}

		.bg-dark {
			background-color: #404040;
		}

		.bg-warning {
			background-color: #fa5630;
		}

		.bg-darkest {
			background-color: #333
		}
		
	/***********************/
	/* =BUTTONS   */
	/***********************/




		.btn {
			color: #fff !important;
			display: inline-block;
			position: relative;
			border: none;
			font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
			font-weight: 400;
			text-align: center;
			letter-spacing: .02em;
			text-decoration: none;
			max-width: 100%;
			background: #b7b7b7;
		}

		

		.btn-primary {
			font-size: 16px;
			line-height: 1.6875;
			padding: 0.57143em 1.42857em;
			-webkit-font-smoothing: antialiased;
			-webkit-border-radius: 4px 4px 4px 4px;
			-moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
			-o-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}

		.btn-primary-small {
			margin-right: 12px;
			height: auto;
			padding: 0.75em 1.5em;
			font-size: 12px;
			line-height: 1.75;
			transition: all 0.2s ease;
			-webkit-font-smoothing: antialiased;
		}


		.pop {
			background-color: #E85C41;
		}


