
/* ==========================================================================
   TABLE OF CONTENTS ZZTOP
   --------------------------------------------------------------------------
   


   + Global
	   + General
	   + Utility-classes
   + Header
	   + Sub-menu
	   + Case-bg
	   + Proj-bg
   + Layouts
   + Text Styles
   + Sub Header
   + img
   + General Styles
	   + icons
	   + buttons
	   + links




********************************************************************************/
/* =GLOBAL                                                                         */
/*********************************************************************************/

	/*---------------------------------/
	/* =GENERAL  */
	/*---------------------------------*/

		*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}



		*
		{
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

	/*---------------------------------/
	/* =UTILITY-CLASSES  */
	/*---------------------------------*/
		

		.align-center {
		  text-align: center;
		}

		.align-left {
		  text-align: left;
		}

		.align-right {
		  text-align: right;
		}

		.pull-left {
		  float: left;
		}

		.pull-right {
		  float: right;
		}

/*********************************************************************************/
/* =HEADER                                                                         */
/*********************************************************************************/

	/*---------------------------------/
	/* =SUB-MENU */
	/*---------------------------------*/



				#header {
					background: #FFF;
					width: 100%;
					display: block;
					margin: 0;
					position: relative;
					top: 0px;
					height: 60px;
					box-shadow: rgba(0,0,0,0.05) 0 2px

				}


				#nav {
				  text-align: center;
				  margin: 0px auto;
				  top:0;
				  left:0;

				}

				#nav ul {
				  margin: 15px 0;
				  padding: 0;
				  list-style-type: none;
				  list-style-image: none;

				}

				#nav li {
				  margin-right: 0;
				  display: inline;
				}

				#nav ul li a {
				  text-decoration: none;
				  margin: 0;
				  padding: 22px 25px;
				  color: #a6a6a6;
				  font-family: 'Oswald', sans-serif;
				  font-weight: 400;
				  letter-spacing: .5px;
				  font-size: .6em;
				  text-transform: uppercase;
				  text-align: center;
				  width: 15%;
				}

				.menuItem > a:hover{
				  text-decoration: none;
				  background-color: #f9f9f9;
				}

				#nav li.current-menu-item a {
				  color: #ffffff;
				}

				#nav li.current_page_item {
				  color: #ffffff;
				  text-decoration: none;
				}

				

				#nav ul li a.active:after {
				position: absolute;
				bottom: -20px;
				left: 20px;
				right: 23px;
				content: '';
				display: block;
				height: 4px;
				background-color: #0cafeb;
				}

									/* Active class */
									.active {
									  color: #0cafeb !important;
									  -webkit-transform: translate3d(0, 0, 0);
									  -moz-transform: translate3d(0, 0, 0);
									  -o-transform: translate3d(0, 0, 0);
									  -ms-transform: translate3d(0, 0, 0);
									  transform: translate3d(0, 0, 0);
									}

	/*---------------------------------/
	/* =CASE-BG  */
	/*---------------------------------*/

				.case-bg{
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
					height: 300px;
					background-position: center !important;
					background-size: cover !important;
			    }

				    
				@media screen and (min-width: 48em){
					.case-bg{
						height: 600px;
					}
				}


				.case {
					color: #4C5058;
					font-size: 1em;
					margin: 2% auto 0 auto;
					padding: 1em;
				} /*  color: #454545;7c8087 is the color from the original page */


				@media screen and (min-width: 71em) {
					.case{
						max-width: 100%; 
					}
				}

				.entry-title {
					text-align: center;
					color: white;
					font-family: 'Oswald' sans-serif;
					font-size: 1.8em;
					line-height: .5em;
					font-weight: 400;
					text-transform: none;
				}
				  

				.case a {
					line-height: 1.5;
				}

				.case h3 {
					font-size: 1.75rem;
					line-height: 1.21429;

				}

				.case-main-img {
					max-width: 60%;
					margin: 5% 20% 0 20%;
				}

				p.role {
					text-align: center;
					color: white;
					letter-spacing: 1px;
					font-weight: bold;
					font-size: .5em;
				}

	/*---------------------------------/
	/* =PROJ-BG */
	/*---------------------------------*/

				.bg-pp {
				background: #17ae9e;
				}

				.bg-dm {
				x-background: #0994cc;
				background: #0cafeb;
				}

/*********************************************************************************/
/* =LAYOUTS                                                                         */
/*********************************************************************************/

	/*---------------------------------/
	/* =PHASE  */
	/*---------------------------------*/

			.phase { 
				padding: 2em 0 4em 0;
				width: 100%;
				
			}

			.phase-alt {
				background-color: #f1f1f1;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				
			}

			.phase-dark {
				background-color: #2c2c2c;
			}

			.end-section {
				margin-bottom: 20em;
			}

	/*---------------------------------/
	/* =ROWS  */
	/*---------------------------------*/

			.row {
				margin-left: 0;
				margin-right: 0;
			}

			.row-sm {
				padding: 2em 0;
			}

			.row-md {
				padding: 5em 0;
			}


			.row-lg {
				padding: 8em 0;
			}


			.border-row {
				border-bottom: 1px solid rgba(0,0,0,.08);

			}

			.row-fixed {
				height: 10em;
				padding: 100px 0;
			}

	/*---------------------------------/
	/* =SPACE */
	/*---------------------------------*/

			.space,
			.space-sm,
			.space-md,
			.space-lg {
			  display: block;
			  float: none;
			  clear: both;
			}
			.space-sm {
			  padding-top: 40px;
			}
			.space-md {
			  padding-top: 80px;
			}
			.space {
			  padding-top: 160px;
			}
			.space-lg {
			  padding-top: 240px;
			}

	/*---------------------------------/
	/* =FIRST-LAST-CENT*/
	/*---------------------------------*/
			

			/* centered */



				.text-centered p {
					padding: 0 3%;
				}


			/* first */

				.first {
					left:0;
				}

				.first img {text-align: left;
					margin-left: 0;
					left: 0;
					position: absolute;}

				.first p{
					padding-right: 20px;
				}

				/* these styles are meant to align img to the LEFT(ish) when the FIRST column element is applied */

					.first .nine5 {margin-right: 5%;}
					.first .eight5 {margin-right: 15%;}
					.first .seven5 {margin: 0 20% 0 5%;}
					.first .six6 {margin: 20px 24% 0 10%;}
					.first .half {margin: 30px 35% 0 15%;}
					.first .third {margin: 90px 40% 0 26%;}
					.first .quarter {margin: 120px 40% 0 35%;}


			/* Last */

				.last {
					float: right;
				}


				.last p{
					padding-right: 6%;
				}

				/* these styles are meant to align img to the RIGHT(ish) when the LAST column element is applied */

					.last .nine5 {margin-left: 5%;}
					.last .eight5 {margin: 0 8% 0 7%;}
					.last .seven5 {margin: 0 5% 0 20%;}
					.last .six6 {margin: 20px 10% 0 24%;}
					.last .half {margin: 30px 15% 0 35%;}
					.last .third {margin: 90px 26% 0 40%;}
					.last .quarter {margin: 120px 35% 0 40%;}
							
	/*---------------------------------/
	/* =SECTION-SPECIFIC  */
	/*---------------------------------*/

			
		.overview {
			width: 1170px;
			margin: 0 2%;
		}

		.overview p {
			x-padding-right: 5%;
		}


/*********************************************************************************/
/* =TEXT STYLES                                                                         */
/*********************************************************************************/

	/*---------------------------------/
	/* =TAGS  */
	/*---------------------------------*/


			body, input, textarea {
				font-family:'Merriweather', serif;;
				-webkit-font-smoothing: antialiased !important; 
				font-size: 17px;
				line-height: 1.65em;
				color: #222;
				font-weight: 300;
			}

			h1, h2, h3, h4 {
				color: #333;
				font-family: 'Oswald', sans-serif;
				-webkit-font-smoothing: antialiased !important;		
			}

			ul, ol { 
				list-style-type: none; 
				margin: 0; 
				padding: 0; 
			}

			h3 {
				font-weight:700;
				text-transform: uppercase;
				font-size: 1.5em;
			}

			h1 {
				font-size: 3.5em;
				font-weight: 700;
				letter-spacing: .5px;
				text-transform: uppercase;
			}

			a {
				color: #2fe7be;
			}


			.text-md {
				font-size: 1.4em;
				line-height: 1.5em;
			}

	/*---------------------------------/
	/* =TITLES  */
	/*---------------------------------*/


			.section-title {
				text-align: center;
				font-weight: 400;
				font-size: 3em;
			}

	/*---------------------------------/
	/* =TEXT-COLORS */
	/*---------------------------------*/

			.text-white {
				color: #fff;
			}

			.text-on-dark {
				color: rgba(255,255,255,.4);
				font-weight: 300;
				font-style: italic;
			}


			.text-light {
				color: #a6a6a6;
			}

	/*---------------------------------/
	/* =ALIGNMENT  */
	/*---------------------------------*/

			.text-centered {
				text-align: center;
			}


			.text-left {
				text-align: left;
			}

			
			/* col 10 - 12 */

					.col12 p, .col12 p, .col10 p  {
						padding-right: 8%;
					}

					.col12 .text-centered, .col11 .text-centered, .col10 .text-centered{
						padding-left: 4%;
						padding-right: 4%
					}


			/* col 7 to 9 */

					.col9 p, .col8 p, .col7 p  {
						padding-right: 6%;
					}

					.col9 .text-centered, .col8 .text-centered, .col7 .text-centered{
						padding-left: 3%;
						padding-right: 3%
					}


			/* col 5 and 6 */

					.col5 p, .col6 p{
						padding-right: 4%;
					}

					.col5 .text-centered, .col4 .text-centered {
						padding-left: 2%;
						padding-right: 2%
					}


			/* col 3 and 4 */

					.col4 p, .col3 p {
						padding-right: 2%;
					}

					.col4 .text-centered, .col3 .text-centered {
						padding-left: 1%;
						padding-right: 1%
					}

	/*---------------------------------/
	/* =SPECIAL-STYLES  */
	/*---------------------------------*/

			cite {
				text-transform: uppercase;
				letter-spacing: .2em;
				font-size: 12px;
				font-weight: bold;
			}



			.handwritten {
				font-family: 'Shadows Into Light', cursive;
				font-size: 1.2em;
				margin-bottom: 1.6em;
			}

			.sub-point p {
				font-size: .8em;
				text-align: left;
				margin-right: 20px;
				margin-top: 20px;
			}

			.sub-point h3 {
				text-align: left;
			}


			.hand-font {
			  font-family: 'Gochi hand', Handlee, Roboto, serif;
			  font-size: 1.2em;
			  display: inline-block;
			  font-weight: 400;
			}

			p.introduction{
				font-size: 1.4em;
				line-height: 1.4em;

			}

			.text-centered .introductions p{
				padding-right: 8%;
				padding-left: 20%;
			}

			p.interstitial{
				font-size: 1.6em;
				line-height: 1.8em;
				padding: 0.3833em 5%;
			}
			
			.text-smaller {
				font-size: .5em;
				text-transform: none;
				line-height: 1em;
			}

			.caption-text {
				font-size: 30px;
				font-style: italic;
				color: rgba(0,0,0,.5);
				padding: 20px 10px;
				text-transform: none;
			}

			/* text on hover */ 

					.text-on-hover { 
						line-height: 0px; 
						color: transparent; 	
						font-size: 4em;
						font-family: "Oswald", sans-serif;
						font-weight:700;
						text-transform: uppercase;
						 -webkit-transition: all 0.5s ease; 
						 -moz-transition: all 0.5s ease; 
						 -o-transition: all 0.5s ease; 
					} 


					.text-on-hover:hover { 
						line-height: 1.5em; 
						color: #333; 
						vertical-align: middle;
					} 

					.text-on-hover img{ 
						float: left; 
					}

					.text-on-hover img{ 
						float: left; 
					}

/*********************************************************************************/
/* =img                                                                       */
/*********************************************************************************/

	/*---------------------------------/
	/* =GENERAL-IMAGE  */
	/*---------------------------------*/

			/* resize image */ 
					
					/*these styles can be applied as a class on the img element 
					in any column width to reduce the size of the image */
					
					.nine5 {max-width:95%;}
					.eight5 {max-width:85%;}
					.seven5 {max-width:75%;}
					.six6 {max-width:66%;}
					.half {max-width:50%;}
					.third {max-width:33%;}
					.quarter {max-width:25%;}


			/* image  */

					.image-box-large {
						background-color: white;
						padding: 10px;
						box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
						border:1px solid rgba(0,0,0,.1);
						border-radius: 5px;
					}

							.image-box-large img {
								border-radius: 5px;
								border:1px solid rgba(0,0,0,.1);
							}

					.img-box-sm {
						background-color: white;
						padding: 5px;
						margin: 15px auto;
						box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
						border:1px solid rgba(0,0,0,.1);
						border-radius: 5px;
						vertical-align: middle;
						width: 100%;


					}

							.img-box-sm img {
								border-radius: 5px;
								border:1px solid rgba(0,0,0,.1);
								width: 100%;

							}


					.pointer:hover {
						cursor: pointer;

					}


	/*---------------------------------/
	/* =IMAGE-IN-MODALS  */
	/*---------------------------------*/

				.caption-bg {
					background: rgba(0, 0, 0, 0.6);
					right: 22px;
					bottom: 21px;
					left: 21px;
					padding: 2%;
				}

	/*---------------------------------/
	/* =IMAGE-GRID  */
	/*---------------------------------*/

		}
		.image-stack .top{
			height: 45%;
			position: absolute;
		}

		.image-stack .bottom{
			height: 45%;
			margin-top:5%;
		}

		.image-grid img{
			height: 350px;
			margin: 20px;
		}


		.img-thumb img {
		    opacity: 0.2;
		    filter: alpha(opacity=20); /* For IE8 and earlier */
		}

		.img-thumb  img:hover {		    
		    cursor: pointer;
		    opacity: 1.0;
		    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
			border:1px solid rgba(0,0,0,.1)
		}

		.carousel-control{

    bottom: 20px;
}
/*********************************************************************************/
/* =GENERAL-STYLES                                                                         */
/*********************************************************************************/

	/*---------------------------------/
	/* =ICONS */
	/*---------------------------------*/

		.icon-fancy {
			color: #009989;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;	
		}

		.icon-sm {
			font-size: 44px;
		}

		.icon-md {
			font-size: 64px;
		}

		.icon-lg {
			font-size: 84px;
		}

	/*---------------------------------/
	/* =BOX */
	/*---------------------------------*/

		.box-content {
			background-color: white;
			padding: 15px 15px 1px;
			margin-left: 40px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			position: relative; 
			border:1px solid rgba(0,0,0,.1);
			border-radius: 5px;
		}

		.box-content:after, .box-content:before {
			content: "";
	        position: absolute;
	        width: 0;
	        height: 0;
		}

		.box-content:after {
	        top: 38px;
	        left: -20px;
	        border: 10px solid transparent;
	        border-right: 10px solid white; 
	    }

	    .box-content:before {
	    	top: 36px;
	        left: -24px;
	        border: 12px solid transparent;
	        border-right: 12px solid #dddddd;
	    }

	/*---------------------------------/
	/* =BUTTONS  */
	/*---------------------------------*/




		.btn {
			color: #fff !important;
			display: inline-block;
			position: relative;
			border: none;
			font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
			font-weight: 400;
			text-align: center;
			letter-spacing: .02em;
			text-decoration: none;
			max-width: 100%;
			background: #b7b7b7;
		}

		

		.btn-primary {
			font-size: 16px;
			line-height: 1.6875;
			padding: 0.57143em 1.42857em;
			-webkit-font-smoothing: antialiased;
			-webkit-border-radius: 4px 4px 4px 4px;
			-moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
			-o-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}

		.btn-primary-small {
			margin-right: 12px;
			height: auto;
			padding: 0.75em 1.5em;
			font-size: 12px;
			line-height: 1.75;
			transition: all 0.2s ease;
			-webkit-font-smoothing: antialiased;
		}


		.pop {
			X-background-color: #E85C41;
			background-color: #0cafeb;
		}

	/*---------------------------------/
	/* =MODALS  */
	/*---------------------------------*/
				


				@media (min-width: 992px) {
				.modal-lg {
				width: 80%;}}

	/*---------------------------------/
	/* =HOVER EFFECTS  */
	/*---------------------------------*/



					/*TILT*/
					.tilt {
					  -webkit-transition: all 0.5s ease;
					     -moz-transition: all 0.5s ease;
					       -o-transition: all 0.5s ease;
					      -ms-transition: all 0.5s ease;
					          transition: all 0.5s ease;
					}
					 
					.tilt:hover {
					  -webkit-transform: rotate(-10deg);
					     -moz-transform: rotate(-10deg);
					       -o-transform: rotate(-10deg);
					      -ms-transform: rotate(-10deg);
					          transform: rotate(-10deg);
					}



					/*BLUR*/
					.blur img {
					  -webkit-transition: all 1s ease;
					     -moz-transition: all 1s ease;
					       -o-transition: all 1s ease;
					      -ms-transition: all 1s ease;
					          transition: all 1s ease;
					}
					 
					.blur img:hover {
					  -webkit-filter: blur(5px);
					}


					/*B&W*/
					.bw {
					  -webkit-transition: all 1s ease;
					     -moz-transition: all 1s ease;
					       -o-transition: all 1s ease;
					      -ms-transition: all 1s ease;
					          transition: all 1s ease;
					}
					 
					.bw:hover {
					  -webkit-filter: grayscale(100%);
					}

					/*B&W*/
					.bw-i {
					  -webkit-filter: grayscale(100%);
					  -webkit-transition: all 0.5s ease;
					     -moz-transition: all 0.5s ease;
					       -o-transition: all 0.5s ease;
					      -ms-transition: all 0.5s ease;
					          transition: all 0.5s ease;
					}
					 
					.bw-i:hover {
					  -webkit-filter: grayscale(0%);
					}

					/*BRIGHTEN*/
					.brighten img {
					  -webkit-filter: brightness(-65%);
					  -webkit-transition: all 1s ease;
					     -moz-transition: all 1s ease;
					       -o-transition: all 1s ease;
					      -ms-transition: all 1s ease;
					          transition: all 1s ease;
					}
					 
					.brighten img:hover {
					  -webkit-filter: brightness(0%);
					}

					/*MORPH*/
					.morph {
					  -webkit-transition: all 0.5s ease;
					     -moz-transition: all 0.5s ease;
					       -o-transition: all 0.5s ease;
					      -ms-transition: all 0.5s ease;
					          transition: all 0.5s ease;
					}
					 
					.morph:hover {
					  border-radius: 50%;
					  -webkit-transform: rotate(360deg);
					     -moz-transform: rotate(360deg);
					       -o-transform: rotate(360deg);
					      -ms-transform: rotate(360deg);
					          transform: rotate(360deg);
					}


					/*SIDEPAN*/
					.sidepan img {
					  margin-left: 0px;
					  -webkit-transition: margin 1s ease;
					     -moz-transition: margin 1s ease;
					       -o-transition: margin 1s ease;
					      -ms-transition: margin 1s ease;
					          transition: margin 1s ease;
					}
					 
					.sidepan img:hover {
					  margin-left: -200px;
					}




					/*BUMPUP*/
					.bumpup img{ 
						border: 5px solid #ccc; 
						float: left; 
						margin: 15px; 
						-webkit-transition: margin 0.5s ease-out; 
						-moz-transition: margin 0.5s ease-out; 
						-o-transition: margin 0.5s ease-out; 
					} 
					.bumpup img:hover { margin-top: 2px; }


/*********************************************************************************/
/* =FOOTER                                                                         */
/*********************************************************************************/

		#footer { padding: 70px 0; }

		#footer .social li { 
			margin: 0 30px 30px;
			display: inline-block; 
		}

		#footer .social li:hover { cursor: pointer; }
		#footer .social li a { color: #8c9199; }

		#footer .social li a i { 
			font-size: 45px;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			transition: all 0.4s ease; 
		}

		#footer .social li:hover a i.fa-twitter { color: #3ab6e9; }
		#footer .social li:hover a i.fa-facebook { color: #3b589a; }
		#footer .social li:hover a i.fa-dribbble { color: #f26899; }
		#footer .social li:hover a i.fa-linkedin { color: #017eb4; }
		#footer .social li:hover a i.fa-google-plus { color: #d43934; }
		#footer .social li:hover a i.fa-instagram { color: #4e7ca0; }

		#footer .social li small { 
			display: block;
			text-lightform: uppercase;
			margin-top: 15px;
			color: #8b8b8b;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			transition: all 0.4s ease; 
		}

		#footer .social li:hover small { color: #3c3547; }
		#footer .copyright { margin-top: 50px; }

		#footer .copyright p {
			font-size: .em;
			color: #a6acb5;
		}

/*********************************************************************************/
/* =RESPONSIVE                                                                       */
/*********************************************************************************/

			@media (max-width: 1199px) {
			.contact-wrap { width: 52% !important; }
			}   

			@media (max-width: 767px) {

			  .navbar-collapse { background-color: #009989; }
			  
			  .navbar-collapse  > ul { 
				width: 100%; 
				float: left; 
				padding-bottom: 10px; 
			  }
			  
			  .navbar-collapse  > ul > li  { 
				padding: 14px 0 9px 0; 
				border-top: 1px solid #009d8d; 
			  }
			  
			  .navbar-collapse  > ul > li:first-child { border-top: 0; }
			  
			  .intro {
				width: 550px;
				height: 300px;
				margin-left: -275px;
				margin-top: -150px;
			  }
			  
			  .intro h1 { font-size: 32px; }
			  .intro p { margin-bottom: 52px; }
			  
			  .navbar-collapse  > ul > li > a {  
				color: #ccc !important; 
				text-align: left !important; 
				display: block;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				transition: all 0.4s ease; 
			  }
			  
			  .navbar-toggle { top: -8px; }
			  .navbar-collapse  > ul > li > a:hover, .navbar-collapse  > ul > li > a:focus, #current_menu_item a { color: #fff !important; }
			  
			  .cl-effect-3 #current_menu_item a:hover::after,
			  .cl-effect-3 #current_menu_item a:focus::after,
			  .cl-effect-3 a:hover::after, 
			  .cl-effect-3 a:focus::after  { opacity: 0 !important; }
			  
			  .cl-effect-3 #current_menu_item a { border-top: transparent;  }
			 
			  header.header nav .fa-search  {
				right: 70px;
				top: 7px;
			  }
			  
			  .navbar-fixed-top.shrink { padding-bottom: 0; }  
			  

				
				.view .mask h2 { 
					margin-top: 20%; 
					font-size: 18px; 
				}
				
				#contact .map { 
					display: none !important; 
					visibility: hidden; 
				}
				
				.navbar-fixed-top {
					padding: 35px 0;
					background: #009989;
					padding-bottom: 0 !important;
					padding-top: 20px !important
				}
			  
			  #contact .contact-wrap { width: 100% !important; }
			  #blog-title h2 { font-size: 24px; }
			  
			}

			@media (max-width: 991px) {

				#team .team .flex-control-nav { 
					margin-bottom: 35px; 
					text-align: center !important; 
				}

				#team.team .flex-control-nav li {
					display: inline;
					padding: 10px 18px;
				}
				
				.team .flex-control-nav li.flex-active:before { border: none; }
				
				.view .mask h2 { 
					margin-top: 25px; 
					font-size: 14px; 
				}
				
				.view .mask p { padding: 0; }
				.contact-wrap { width: 49% !important; }
				
			}


			@media (max-height: 320px) {
				.intro { margin-top:-50px;}
			    .intro h1 { font-size: 20px; }
			    .intro p { font-size: 12px; margin-bottom:5px;}	
			    .intro .btn-lg {font-size:14px; padding: 7px 18px;}
			}

			@media (max-width: 480px) {

				.intro h1 { font-size: 20px; }
				.item-wrap figcaption h3 { font-size: 14px !important; }
				.item-wrap figcaption span { font-size: 12px !important; }
				#blog .entry .row > div { text-align: center; }
				#blog .entry .row > div h5 { width: 100%; }
				#blog .entry .row .comments { top: 28px; }
				.quotes p { font-size: 18px; }
				.quotes .flex-direction-nav a:before { font-size: 18px !important; }
				
				.intro {
				width: 300px;
				height: 280px;
				margin-left: -150px;
				margin-top: -140px;
			  }
			  
			  .intro p { font-size: 12px; margin-bottom: 42px; }
			  #blog-title { padding: 40px; }
			  #blog-title h2 { font-size: 18px; }
			  
			  .user-comments .col-centered ul li img { margin-bottom: 20px; }
			  
			  .user-comments .user-comment { 
				width: 100%; 
				float: none; 
				clear: both;
			  }
				
			}

			@media (max-width: 320px) {

				.mask h2 { margin-top: 10px; }
				.t-box .team-social i { margin-right: 15px; }
				
				.intro {
					width: 260px;
					height: 280px;
					margin-left: -130px;
					margin-top: -140px;
			  }
			  
			  .intro h1 { font-size: 11px; }
			  .intro p { font-size: 12px; }
			  	
			}

			@media (max-width: 1199px) {

				.mask h2 { margin-top: 40px; }

			}



/*********************************************************************************/
/* =SPECIAL STYLES                                                                       */
/*********************************************************************************/


.ri-grid{
	width: 100%;
}

.ri-grid ul li,
.ri-grid ul li a{
	width: 300px;
	height: 450px;
}
.ri-grid ul li a img{
	width: 100%;
}


.ri-grid{
	margin: 30px auto 30px;
	position: relative;
	height: auto;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
	width: 100%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}

.ri-loading-image{
	display: none;
}

.ri-grid-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 100px 0 0 -15px;
	display: block;
}


/***********************/
/* =COLORS FOR THE COLORS PAGE   */
/***********************/

		.colors-list li {
			padding: 5px 10px;
			margin: 10px;
			border: 1px solid rgba(0,0,0,.1);

		}



		.bg-1 {
			background-color: #f8f8f8;
		}

		.bg-2 {
			background-color: #252a2a;
		}

		.bg-3 {
			background-color: #677171;
		}

		.bg-4 {
			background-color: #0ea5a0;
		}

		.bg-5 {
			background-color: #8b5fa4;
		}

		.bg-6 {
			background-color: #464e4e;
		}

		.bg-7 {
			background-color: #7d8484;
		}

		.bg-8 {
			background-color: #ccc;
		}

		.bg-9 {
			background-color: #1b738a;
		}

		.bg-10 {
			background-color: #384141;
		}

		.bg-11{
			background-color: #f7f7f7;
		}

		.bg-12{
			background-color: #1d1e21;
		}

		.bg-13{
			background-color: #4c5058;
		}

		.bg-14{
			background-color: #838994;
		}

		.bg-15{
			background-color: #f9461c;
		}

		.bg-16{
			background-color: #00b9e4;
		}

		.bg-17{
			background-color: #36363c;
		}

		.bg-18{
			background-color: #4C66A4;
		}

		.bg-19{
			background-color: #00ACEE;
		}

		.bg-20{
			background-color: #;
		}


