/*---------------------------------/
/* =GLOBAL  */
/*---------------------------------*/


/*---------------------------------/
/* =TEXT  */
/*---------------------------------*/




/*---------------------------------/
/* =IMAGES  */
/*---------------------------------*/

	.half {
		max-width:50%;
		margin-left: 25%;
		margin-right: 25%;
	}
	.hands {
		width: 100%;
		margin-top: 50px;
		margin-bottom: -200px;
	}

/*---------------------------------/
/* =LAYOUT  */
/*---------------------------------*/

	
	.row-fixed {
		height: 400px;
		padding: 100px 0;
	}

	/* case-bg */
	   
	



	/* general layout additions for spacing */








