/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,700,900');
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');
@import url('http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic,300italic,300');

/* ===========================
--- GENERAL STYLES
============================ */
	*{
		padding:0;
		margin:0;
	}
	body {
	    width: 100%;
	    height: 100%;
	    font-family: 'Merriweather',sans-serif;
		-webkit-font-smoothing: antialiased !important; 
		font-size: 17px;
		line-height: 1.7em;
		font-weight: 300;
	    color: #36373E;
	    background-color: #fff;
		overflow-x: hidden;
	}

	html {
	    width: 100%;
	    height: 100%;
	}


	hr {
	  margin-top: 10px;
	}

	hr.bold {
	  border-top: 3px solid #eee;
	}

	.divider-header {
		display: block;
		width: 40px;
		height: 2px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.divider-short {
		display: block;
		width: 60px;
		height: 5px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
/* ===========================
--- HEADER
============================ */
	

	/* --- logo --- */
	.site-logo {
		margin-top: 10px;
	}
	.site-logo a.brand {
		color: #38dedf;
		text-transform: uppercase;
		font-size: 20px;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		margin-top: 20px;
	}


	#navigation {
		background: #fff;
		z-index: 9999;
		width:100%;
	    box-sizing:border-box;
		border-bottom: 1px solid #eee;

		display: block;
		margin: 0;
		position: relative;
		top: 0px;
		box-shadow: rgba(0,0,0,0.05) 0 2px;
	}


	.navbar {
	    margin-bottom: 0;
	}

	.navbar-brand {
	    font-weight: 700;
	}


	.navbar-brand:focus {
	    outline: 0;
	}

	.nav.navbar-nav {
	    background-color: rgba(255,255,255,.6);
	}

	.navbar-custom.top-nav-collapse .nav.navbar-nav {
	    background-color: rgba(0,0,0,0);
	}


	.navbar-custom ul.nav li a {
		font-size: 12px;
		letter-spacing: 1px;
	    color: #869096;
		text-transform: uppercase;
		font-weight: 700;
	}

	.navbar-custom.top-nav-collapse ul.nav li a {
		    -webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
		color: #fff;
	}

	.navbar-custom ul.nav ul.dropdown-menu {
		border-radius: 0;	
		margin-top: 21px;
		border-top: none;
	}

	.navbar-custom ul.nav li a:hover ul.dropdown-menu {
		    -webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	}


	.navbar-custom ul.nav ul.dropdown-menu li {
		border-bottom: 1px solid #f5f5f5;

	}

	.navbar-custom ul.nav ul.dropdown-menu li:last-child{
		border-bottom: none;
	}

	.navbar-custom ul.nav ul.dropdown-menu li a {
		padding: 10px 20px;
	}

	.navbar-custom ul.nav ul.dropdown-menu li a:hover {
		background: #fefefe;
	}

	.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
		color: #666;
	}

	.navbar-custom .nav li a {
	    -webkit-transition: background .3s ease-in-out;
	    -moz-transition: background .3s ease-in-out;
	    transition: background .3s ease-in-out;
	}

	.navbar-custom .nav li a:hover,
	.navbar-custom .nav li a:focus,
	.navbar-custom .nav li.active {
	    outline: 0;
	    background-color: rgba(255,255,255,.2);
	}
	.navbar-custom .nav li a:hover,
	.navbar-custom .nav li a:focus,
	.navbar-custom .nav li.active {
	    outline: 0;
	    background-color: rgba(255,255,255,.2);
	}

	.navbar-toggle {
	    padding: 4px 6px;
	    font-size: 14px;
	    color: #fff;
	}

	.navbar-toggle:focus,
	.navbar-toggle:active {
	    outline: 0;
	}

	#menu ul li a.active:after {
		position: absolute;
		bottom: -20px;
		left: 20px;
		right: 23px;
		content: '';
		display: block;
		height: 4px;
		background-color: #0cafeb;
	}

									/* Active class */
									.active {
									  color: #0cafeb !important;
									  -webkit-transform: translate3d(0, 0, 0);
									  -moz-transform: translate3d(0, 0, 0);
									  -o-transform: translate3d(0, 0, 0);
									  -ms-transform: translate3d(0, 0, 0);
									  transform: translate3d(0, 0, 0);
									}

/* ===========================
--- TEXT-STYLES
============================ */

	h1, h2, h3, h4 {
		color: #3E3E3F;
		font-family: 'Oswald', sans-serif;
		-webkit-font-smoothing: antialiased !important;		
	}

	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 32px;
	}
	h4 {
		font-size: 28px;
	}
	h5 {
		font-size: 24px;
	}
	h6 {
		font-size: 20px;
	}

	h3 {
		font-weight:700;
		text-transform: uppercase;
		font-size: 18px;
		padding-bottom: 10px;
	}

	h1 {
		font-size: 36px;
		font-weight: 700;
		letter-spacing: .5px;
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	h1.h-xlight,h2.h-xlight,h3.h-xlight,h4.h-xlight,h5.h-xlight,h6.h-xlight  {
		font-weight: 200;
	}

	h1.h-light, h2.h-light, h3.h-light, h4.h-light, h5.h-light, h6.h-light  {
		font-weight: 300;
	}

	h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
		font-weight: 600;
	}

	h1.font-light,h2.font-light,h3.font-light,h4.font-light,h5.font-light,h6.font-light {
		color: #fff;
	}

	p.lead {
		font-weight: 600;
	}

	.highlight-light {
		background-color: rgba(255,255,255,.5);
		padding: 20px;
		display: inline-block;
		color: #111;
	}

	.highlight-dark {
		background-color: rgba(0,0,0,.5);
		padding: 20px;
		display: inline-block;
		color: #fff;
	}

	.highlight-color {
		padding: 20px;
		display: inline-block;
	}

	a {
	    color: #666;
	    -webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	}

	a:hover,
	a:focus {
	    text-decoration: none;
	}

	blockquote {
	  padding: 10px 20px;
	  margin: 0 0 20px;
	  font-size: 24px;
		line-height: 1.5em;
	  font-weight: 300;
	  color: #999;
	}

	blockquote.bg-light {
		background-color: rgba(255,255,255,.8);
		padding: 20px;
		color: #222;
	}

	blockquote.bg-dark {
		background-color: rgba(0,0,0,.8);
		padding: 20px;
	}

	blockquote strong {
	  font-weight: 700;
	}
	.light {
	    font-weight: 400;
	}
	.big-heading {
		font-size: 3em;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	.section-heading h2 {
		font-size: 24px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 20px;
		font-weight: 700;
	}
	.section-heading p {
		font-weight: 300;
		font-size: 20px;
		line-height: 1.6em;
	}
	.text-white {
		color: #fff;
	}
	.handwritten {
		font-family: 'Shadows Into Light Two', cursive;
		font-size: 16px;
		margin-bottom: 1.6em;
		letter-spacing: 1px;
	}
	.text-center {
		text-align: center;
	}
	.text-center img {
		vertical-align: middle;
	}
	.text-center .col12 p, 
	.text-center .col12 img,
	.text-center .col12 h1,
	.text-center .col12 h3 {
		max-width: 90%;
		margin: auto 5%;
	}
	.text-left {
		text-align: left;
	}
	.text-smaller p,
	.text-smaller h3 {
		font-size: .8em;
		line-height: 1.8em;
		padding: 0 15px;
		margin: 0;
	}
	.text-smaller h3 {
		font-size: 1.2em;
		padding-top: 25px;
		padding-bottom: 8px;
	}			
	.interstitial{
		font-size: 1.3em;
		line-height: 1.5em;
		padding-bottom: 20px;
		font-weight: normal;
	}
	.text-center .intersitial p  {
		padding-right: 100px;
		padding-left: 40px;
	}
	.text-white {
		color: #fff;
	}
	.text-on-dark {
		color: rgba(255,255,255,.4);
		font-weight: 300;
		font-style: italic;
	}
	.text-light {
		color: #a6a6a6;
	}

	.size-18 {
		font-size: 18px;
		line-height: 1.5em;
	}
/* ===========================
--- LAYOUT / SPACING
============================ */
	
	.top-20 {padding-top: 20px;}
	.top-60 {padding-top: 60px;}
	.top-100 {padding-top:100px;}
	.top-140{padding-top: 140px;}
	.top-180{padding-top: 180px;}
	.top-220{padding-top: 220px;}
	.top-260{padding-top: 260px;}
	.top-300{padding-top: 300px;}

	.bot-20 {padding-bottom: 20px;}
	.bot-60 {padding-bottom: 60px;}
	.bot-100 {padding-bottom: 100px;}
	.bot-140 {padding-bottom: 140px;}
	.bot-180 {padding-bottom: 180px;}
	.bot-220 {padding-bottom: 220px;}
	.bot-260 {padding-bottom: 260px;}
	.bot-300 {padding-bottom: 300px;}


	.c:after, .clear {
		clear: both;
	}
	.c:before, .c:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.detail .box {
		float: left;
	}
	.inner {
		padding-right: 55px;
		padding-left: 20px;
	}
	.inner {
		padding-top: 37px;
	}
	.detail h2 {
		font-weight: 700;
		margin-bottom: 10px;
	}



	/*----- image sizing -------*/

		.nine5 {max-width:95%; margin-left: 2.5%; margin-right: 2.5%;}
		.eight5 {max-width:85%; margin-left: 7.5%; margin-right: 7.5%;}
		.seven5 {max-width:75%; margin-left: 12.5%; margin-right: 12.5%; vertical-align: bottom;}
		.six6 {max-width:66%; margin-left: 17%; margin-right: 17%;}
		.half {max-width:50%;margin: 25%;}
		.third {max-width:33%;margin-left: 33%; margin-right: 33%;}
		.quarter {max-width:25%;margin-left: 37.5%; margin-right: 37.5%;}

/* ===========================
--- GENERAL SECTIONS
============================ */

	.home-section {
	    padding-top: 150px;
	    padding-bottom: 110px;
		display:block;
	    position:relative;
	    z-index:120;
	}
	.inner-section {
	    padding-top: 110px;
	    padding-bottom: 110px;
	}
	.home-section.nopadd-bot {
	    padding-bottom: 0;
	}
	.color-dark .divider-short {
		background: #666;
	}
	.color-dark .divider-header {
		background: #666;
	}

	.color-light .divider-short {
		background: #666;
	}
	.color-light .divider-header {
		background: #666;
	}

	.phase { 
		padding: 60px 0 60px;
	}
	.phase-alt {
		background-color: #F5F7FA;
		border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;
	}
	.phase-dark {
		background-color: #2c2c2c;
	}
	.border-row {
		border-bottom: 1px solid rgba(0,0,0,.08);
	}

		.flipgrid-row .flipgrid .item {
		top:0; 
	
	}

	.flipgrid-row .col-md-2, .flipgrid-row .col-md-1{
		padding-left: 0;
		padding-right:0;
		margin: 0;
	}

	.flipgrid .carousel-inner .item {

	  opacity: 0;
	  -webkit-transition-property: opacity;
	      -ms-transition-property: opacity;
	          transition-property: opacity;
	}

	.flipgrid .carousel .carousel-inner .active {
	  opacity: 1;
	  -webkit-transition-property: opacity;
	      -ms-transition-property: opacity;
	          transition-property: opacity;
	}
	.flipgrid .carousel-inner .item img {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	
.ri-grid{
	width: 100%;
}

.ri-grid ul li,
.ri-grid ul li a{
	width: 300px;
	height: 450px;
}
.ri-grid ul li a img{
	width: 100%;
}


.ri-grid{
	margin: 30px auto 30px;
	position: relative;
	height: auto;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
	width: 100%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}

.ri-loading-image{
	display: none;
}

.ri-grid-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 100px 0 0 -15px;
	display: block;
}

/* ===========================
--- INTRO / HERO
============================ */

	.hero { 
		background: no-repeat center center; 
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover; 
		padding: 100px 0 40px 0; 
		height: auto; 
	}
	.hero h1 { 
		text-align: center;
		color: white;
		font-family: 'Oswald' sans-serif;
		font-size: 36px;
		line-height: .5em;
		font-weight: 300;
		text-transform: none;
	}
	.hero h1 span { 
		color: #a1a9b0; 
		display: inline-block; 
	}
	.hero p { 
		text-align: center;
		color: white;
		letter-spacing: 1px;
		font-weight: 200;
		font-size: 14px;
	}
	.learn-more-btn { 
		background: rgba(61, 201, 179, 1); 
		padding: 20px 40px; 
		border-radius: 5px; 
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px; 
		-o-border-radius: 5px; 
		color: #fff; 
		text-transform: uppercase; 
		letter-spacing: 1px; 
		display: inline-block; 
		-webkit-box-shadow: 0px 3px 0px 0px #309383; 
		-moz-box-shadow: 0px 3px 0px 0px #309383; 
		box-shadow: 0px 3px 0px 0px #309383; 
		margin: 60px 0 0; 
		font-weight: bold; 
	}
	.learn-more-btn:hover, .learn-more-btn:focus { 
		background: rgba(61, 201, 179, 0.6); 
		color: #fff; 
	}

	.case-bg{
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		height: 300px;
		background-position: center !important;
		background-size: cover !important;
	}
	@media screen and (min-width: 48em){
		.case-bg{
			height: 600px;
		}
	}

	.case-main-img {
		max-width: 80%;
		margin: 5% 10% 0 10%;
	}

	.bg-dm {
		x-background: #0994cc;
		background: #20C3C4;
	}
	.intro {
		width:100%;
		position:relative;
		padding:0;
	}
	.intro-inner {
		width:100%;
		position:relative;
		padding:120px 0 20px;
	}

	.brand-heading {
	    font-size: 40px;
	}

	.intro-text {
	    font-size: 18px;
	}

/* ===========================
--- BUTTONS
============================ */
	.btn {
		border-radius: 2px;
		position: relative;
		display: inline-block;
		outline: none;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;	
		text-shadow: 0 0 1px rgba(255,255,255,0.3);
		font-size: 14px;
	}

	.btn.btn-noradius {
		border-radius: 0;
	}

	a.btn:focus{
		outline: 0;
	}

	.btn-red {
	  color: #fff;
	  background-color: #c83539;
	  border-color: #c83539;
	}
	.btn-red:hover,
	.btn-red:focus,
	.btn-red:active,
	.btn-red.active {
	  color: #fff;
	  background-color: #666;
	  border-color: #666;
	}
	.btn-red:active {
	  background-image: none;
	}


	.btn-skin:hover,
	.btn-skin:focus,
	.btn-skin:active,
	.btn-skin.active {
	  color: #fff;
	  background-color: #666;
	  border-color: #666;
	}


	.btn-default:hover,
	.btn-default:focus {
	    border: 1px solid #28c3ab;
	    outline: 0;
	    color: #000;
	    background-color: #28c3ab;
	}

	.btn-huge {
	    padding: 25px;
	    font-size: 26px;
	}

	.banner-social-buttons {
	    margin-top: 0;
	}

/* ===========================
--- MEDIA QUERIES
============================ */

	@media(min-width:767px) {

	    .navbar {
	        padding: 20px 0;
	        border-bottom: 0;
	        letter-spacing: 1px;
	        background: 0 0;
	        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	        transition: background .5s ease-in-out,padding .5s ease-in-out;
	    }

	    .top-nav-collapse {
	        padding: 0;
	        background-color: #000;
	    }

	    .navbar-custom.top-nav-collapse {
	        border-bottom: 1px solid rgba(255,255,255,.3);
	    }
		
	    .intro {
	        height: 100%;
	        padding: 0;
	    }

	    .brand-heading {
	        font-size: 100px;
	    }
		

	    .intro-text {
	        font-size: 25px;
	    }


	}
	@media (max-width:768px) {
		#navigation {
			padding: 20px 0;
		}
		.site-logo{
			margin: 0 0 0 30px;
			float:none;
		}
		.navbar-custom ul.nav li a {
			color: #eee;
		}
		.navbar-custom ul.nav ul.dropdown-menu li {
			border-bottom: 1px solid #aaa;

		}
		.navbar-header {
			margin-top:-40px;
			padding:0;
		}
		.navbar-header button {
			background: #111;
		}
		
		.navbar-header button.navbar-toggle {
			padding: 4px 15px;
			font-size: 14px;
			color: #fff;
		}
		
		.navbar-custom .nav {
			background: #444;
		}
		
		.service-box {
			margin-bottom: 50px;
		}
		
		.team-wrap {
			margin-bottom: 30px;
		}
		
		form#contact-form {
			margin-bottom: 50px;
		}
		
		.xs-marginbot-20 {
			margin-bottom: 20px;
		}

	}

	@media (max-width:480px) {

		.navbar-custom .nav.navbar-nav {
	    background-color: rgba(255,255,255,.4);
		}
		
		.navbar.navbar-custom.navbar-fixed-top {
			margin-bottom: 30px;
		}
	}